  .img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
  }

  button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
  }

  button.learn-more {
      margin-left: 1rem;
      width: 13rem;
      height: auto;
  }

  button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #0E1A59;
      border-radius: 1.625rem;
  }

  button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
  }

  button.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;
  }

  button.learn-more .circle .icon.arrow::before {
      position: absolute;
      content: "";
      top: -0.29rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
  }

  button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 2;
      right: 0;
      bottom: 0;
      margin-left: 1rem 0;
      margin: 0 0 0 2rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
  }

  button:hover .circle {
      width: 100%;
  }

  button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(2rem, 0);
  }

  button:hover .button-text {
      color: #fff;
  }


  .btns {
      display: flex;
      flex-direction: row;

  }

  .article_property {
      position: relative;
      width: 25rem;
      height: 490px;
      color: black;
      font-size: 1.2rem;
      background-color: white;
      border: 1px solid #aaabb1;
      overflow: hidden;
      border-radius: 20px;
  }

  .temporary_text {
      font-weight: bold;
      font-size: 24px;
      padding: 6px 12px;
      color: #f8f8f8;
  }

  .card_title {
      font-weight: bold;
      justify-content: center;
  }

  .card_content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      background: linear-gradient(225deg, #ffffff, #e6e6e6);
      box-shadow: -27px 27px 54px #bababa,
          27px -27px 54px #ffffff;
      border-top-left-radius: 20px;
      transform: translateY(10px);
      transition: transform .25s;
  }

  .card_content::before {
      content: '';
      position: absolute;
      top: -100px;
      right: -100px;
      width: 100px;
      height: 100px;
      transform: rotate(-200deg);
      border-radius: 50%;
      box-shadow: inset 48px 48px #f2f2f2;
  }

  .card_title {
      color: #131313;
      line-height: 15px;
      margin-left: 2rem;
  }

  .card_subtitle {

      display: block;
      font-size: 12px;
      margin-bottom: 10px;

  }

  .card_description {
      font-size: 14px;
      width: 320px;
      opacity: 0;
      transition: opacity .5s;
      padding-left: 2rem;
  }

  .card:hover .card_content {
      transform: translateY(0);
  }

  .card:hover .card_description {
      opacity: 1;
      transition-delay: .25s;
  }


  .button-fav {
      position: absolute;
      top: 10px;
      right: 10px;
  }

  .container_desc h2 {
      margin-left: 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2 {
      text-align: center;
      margin-left: 2rem;

  }

  .card_price {
      padding-left: 2rem;
  }
  .card_region h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .wsp_icon {
    
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    background-image: url("../assets/whatsapp.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s; 
  }
  .wsp_icon:hover {
    transform: scale(1.4); 
  }

