.hero__title {
    
    margin-bottom: 0;
}
.hero__title h1 {
    margin-bottom: 0;
    padding: 3rem;
}

.login-form__input {
    display: flex;  
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(255, 255, 255);
  }
  ::placeholder {
    color:#fff;
  }
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    -webkit-animation: pulse 2s linear infinite;
            animation: pulse 2s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    -webkit-text-decoration: underline royalblue;
            text-decoration: underline royalblue;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    cursor: text;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  .form label .input:-moz-placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:-ms-input-placeholder + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  .container_hero {
    color:#fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    

  }
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    -webkit-transform: .3s ease;
        -ms-transform: .3s ease;
            transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
      opacity: 0;
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
      opacity: 0;
    }
  }